body {
    background-color: rgb(177, 182, 177);
    color: black;
    font-size: 1.2em;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.container{
    background-color:white;
    width: 96%;
    padding:2%;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;   
}
.full-width{
    width:100%;
    }
    nav ul{
        padding: 0;
        margin: 0;
        list-style: none;
    }
    nav li{
        display: inline;
    }
    nav a{
        display:inline-block;
        text-decoration: none;
        background-color: rgb(41, 41, 47);
        padding: 10px;
        color: white;
    }
    nav a:hover{
        background-color: rgb(82, 80, 80);
    }